.splashScreenContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
}

.splashScreenContents p {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  font-family: "Prompt", sans-serif;
}

.splashScreenContents img {
  block-size: 130px;
  border-radius: 10px;
}
